<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peony.peonyfront.eventnewsregion.dao.EventnewsRegionMapper">
    <resultMap id="BaseResultMap" type="com.peony.peonyfront.eventnewsregion.model.EventnewsRegion">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="eventnewsID" property="eventnewsid" jdbcType="VARCHAR"/>
        <result column="regionID" property="regionid" jdbcType="INTEGER"/>
        <result column="provinceID" property="provinceid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, eventnewsID, regionID, provinceID
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from wdyq_eventnews_region
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from wdyq_eventnews_region
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.peony.peonyfront.eventnewsregion.model.EventnewsRegion">
        insert into wdyq_eventnews_region (id, eventnewsID, regionID,
        provinceID)
        values (#{id,jdbcType=VARCHAR}, #{eventnewsid,jdbcType=VARCHAR}, #{regionid,jdbcType=INTEGER},
        #{provinceid,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.peony.peonyfront.eventnewsregion.model.EventnewsRegion">
        insert into wdyq_eventnews_region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="eventnewsid != null">
                eventnewsID,
            </if>
            <if test="regionid != null">
                regionID,
            </if>
            <if test="provinceid != null">
                provinceID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="eventnewsid != null">
                #{eventnewsid,jdbcType=VARCHAR},
            </if>
            <if test="regionid != null">
                #{regionid,jdbcType=INTEGER},
            </if>
            <if test="provinceid != null">
                #{provinceid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.peony.peonyfront.eventnewsregion.model.EventnewsRegion">
        update wdyq_eventnews_region
        <set>
            <if test="eventnewsid != null">
                eventnewsID = #{eventnewsid,jdbcType=VARCHAR},
            </if>
            <if test="regionid != null">
                regionID = #{regionid,jdbcType=INTEGER},
            </if>
            <if test="provinceid != null">
                provinceID = #{provinceid,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.peony.peonyfront.eventnewsregion.model.EventnewsRegion">
        update wdyq_eventnews_region
        set eventnewsID = #{eventnewsid,jdbcType=VARCHAR},
        regionID = #{regionid,jdbcType=INTEGER},
        provinceID = #{provinceid,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>