<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peony.peonyfront.mail.dao.MailTempMapper">
    <resultMap id="BaseResultMap" type="com.peony.peonyfront.mail.model.MailTemp">
        <id column="mail_temp_id" property="mailTempId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        mail_temp_id, user_id, create_time, name, address,url
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from pe_t_mail_temp
        where mail_temp_id = #{mailTempId,jdbcType=INTEGER}
    </select>
    <select id="selectMailTemps" resultMap="BaseResultMap" parameterType="com.peony.peonyfront.mail.model.MailTemp">
        select
        <include refid="Base_Column_List" />
        from pe_t_mail_temp where 1=1
        <if test="userId != null">
            and user_id = #{userId,jdbcType=INTEGER}
        </if>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from pe_t_mail_temp
        where mail_temp_id = #{mailTempId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.peony.peonyfront.mail.model.MailTemp">
        insert into pe_t_mail_temp (mail_temp_id, user_id, create_time,
        name, address,url)
        values (#{mailTempId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
        #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.peony.peonyfront.mail.model.MailTemp">
        insert into pe_t_mail_temp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mailTempId != null">
                mail_temp_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mailTempId != null">
                #{mailTempId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.peony.peonyfront.mail.model.MailTemp">
        update pe_t_mail_temp
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
        </set>
        where mail_temp_id = #{mailTempId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.peony.peonyfront.mail.model.MailTemp">
        update pe_t_mail_temp
        set user_id = #{userId,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        name = #{name,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR}
        where mail_temp_id = #{mailTempId,jdbcType=INTEGER}
    </update>
    <!-- 根据用户id查询所定义模板 -->
    <select id="findTemplateByUserId" resultMap="BaseResultMap" parameterType="com.peony.peonyfront.mail.model.MailTemp">
        SELECT temp.* FROM pe_t_mail_config config,pe_t_mail_temp temp
        WHERE config.mail_temp_id=temp.mail_temp_id
        <if test="userId != null">
            AND config.user_id = #{userId,jdbcType=INTEGER}
        </if>
    </select>
</mapper>